!!! 5
%html{ 'ng-app' => "ocarina" }
  %head
    %meta(http-equiv="Content-type" content="text/html;charset=UTF-8")
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}

    %title= content_for?(:title) ? yield(:title) : "Playedby.me"
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags

    :javascript
      if (window.location.hash == '#_=_'){
        window.location.hash = '';
      }

  %body.ng-cloak{ ng_controller: 'UserCtrl' }
    .logged-out{ ocarina_if: "!loggedIn", ng_include:"'/partials/logged_out'" }
    .logged-in{ ocarina_if: "loggedIn" }
      = render 'partials/nav'

      .container
        = yield

      = render 'partials/footer'

    = javascript_include_tag "vendor/custom.modernizr"
    = javascript_include_tag "http://js.pusher.com/2.1/pusher.min.js"
    = javascript_include_tag "http://connect.soundcloud.com/sdk.js"
    = javascript_include_tag "application"
    :javascript
      SC.initialize({
        client_id: "3d6e76640c62f42c02cb78d2c53d0db9"
      });

