!!! 5
%html
  %head
    %meta(http-equiv="Content-type" content="text/html;charset=UTF-8")
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1"}

    %title= content_for?(:title) ? yield(:title) : "Ocarina"

    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags

    :javascript
      if (window.location.hash == '#_=_'){
        window.location.hash = '';
      }

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          = link_to "Ocarina", '/', class: "brand brand-title"
          .nav
            %li= link_to "Search", '/search'
          .pull-right
            %ul.nav
              - if current_user
                %li.divider-vertical
                  %li= link_to "Logout", logout_path
    = yield

    = javascript_include_tag "vendor/custom.modernizr"
    = javascript_include_tag "application"
