!!! 5
%html{ 'ng-app' => "ocarina" }
  %head
    %meta(http-equiv="Content-type" content="text/html;charset=UTF-8")
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1"}

    %title= content_for?(:title) ? yield(:title) : "Ocarina"

    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags

    :javascript
      if (window.location.hash == '#_=_'){
        window.location.hash = '';
      }

  %body{ ng_controller: 'UserCtrl' }
    .navbar.navbar-fixed-top
      .navbar-inner{ ng_controller: "NavCtrl" }
        .container-fluid
          %a.brand.brand-top{ ng_href: "/" } Ocarina
          -# = link_to "Ocarina", '/', class: "brand brand-title"
          .nav
            %li
              %a{ ng_href: '/search' } Search
          .pull-right
            %ul.nav
              %li
                %a{ ng_show: 'user.dropbox_authenticated',
              ng_click: "openDbSongsModal()" } My Songs
              %li.divider-vertical
                %li
                  %a{ ng_click: "logout()" } Logout
    = yield

    = javascript_include_tag "vendor/custom.modernizr"
    = javascript_include_tag "application"
