!!! 5
%html{ 'ng-app' => "ocarina" }
  %head
    %meta(http-equiv="Content-type" content="text/html;charset=UTF-8")
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1"}

    %title= content_for?(:title) ? yield(:title) : "Ocarina"

    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags

    :javascript
      if (window.location.hash == '#_=_'){
        window.location.hash = '';
      }

  %body{ ng_controller: 'UserCtrl' }
    .navbar{ ng_controller: 'NavCtrl' }
      %a.navbar-brand{ ng_href: "/" } Ocarina
      %ul.nav.navbar-nav
        %li
          %a{ ng_href: '/search' } Search
      %ul.nav.navbar-nav.pull-right
        %li
          %a{ :href => "", ng_show: 'user.dropbox_authenticated',
            ng_click: "openDbSongsModal()" } My Songs
        %li
          %a{ :href => "", ng_click: "logout()" } Logout

    .container
      = yield

    = javascript_include_tag "vendor/custom.modernizr"
    = javascript_include_tag "application"
