!!! 5
%html{ 'ng-app' => "ocarina" }
  %head
    %meta(http-equiv="Content-type" content="text/html;charset=UTF-8")
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}

    %title= content_for?(:title) ? yield(:title) : "Ocarina"
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags

    :javascript
      if (window.location.hash == '#_=_'){
        window.location.hash = '';
      }

  %body{ ng_controller: 'UserCtrl' }
    = render 'partials/nav'

    .container
      = yield

    = render 'partials/footer'

    = javascript_include_tag "vendor/custom.modernizr"
    = javascript_include_tag "http://js.pusher.com/2.1/pusher.min.js"
    = javascript_include_tag "application"
